.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}


.button-row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button-row .mat-mdc-button-base {
    margin: 0;
    min-width: 80px;
}